* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    margin: 0;
    height: 100vh;
    background: #0e1621;
    color: white;
}


.container {
    width: 100%;
    height: 100vh;
}



/* Вход */

#auth {

    max-width: 400px;
    margin: auto;
    padding: 40px;
    text-align: center;

}



#auth h1 {

    color: #2aabee;
    font-size: 32px;

}



input {

    width: 100%;
    padding: 14px;
    margin: 8px 0;

    background: #17212b;

    border: 1px solid #2b3947;

    border-radius: 10px;

    color:white;

    font-size:16px;

}



button {

    background:#2aabee;

    color:white;

    border:none;

    padding:13px;

    border-radius:10px;

    margin-top:10px;

    width:100%;

    font-size:16px;

}




/* Чат */


#chat {

    display:flex;

    height:100vh;

}




/* Контакты */


#contacts {

    width:280px;

    background:#17212b;

    border-right:1px solid #263544;

    padding:15px;

}



#contacts h3 {

    margin-top:0;

}



.user {

    padding:12px;

    margin:5px 0;

    background:#202b36;

    border-radius:10px;

    cursor:pointer;

}



.user:hover {

    background:#2b5278;

}





/* Правая часть */


#chat > * {

}



#messages {

    flex:1;

    overflow-y:auto;

    padding:20px;

    background:#0e1621;

}




.message {

    background:#2b5278;

    padding:10px 15px;

    border-radius:15px;

    margin:8px 0;

    max-width:70%;

    width:max-content;

}




#chatTitle {

    position:absolute;

    top:0;

    left:280px;

    right:0;

    height:60px;

    background:#17212b;

    padding:20px;

    border-bottom:1px solid #263544;

}




.header {

    display:none;

}




/* поле отправки */


.send {

    position:fixed;

    bottom:0;

    left:280px;

    right:0;

    background:#17212b;

    padding:10px;

    display:flex;

}



.send input {

    flex:1;

    margin:0;

}



.send button {

    width:50px;

    height:50px;

    border-radius:50%;

    margin-left:10px;

}





#error {

    color:#ff5555;

}